.external-link-width .text-body-title{
    font-weight: 500!important;
    color: #000!important;
    font-family: Roboto;
    font-size: 18px!important;
    line-height: 22px!important;
    margin: 0 0 10px!important;
}
.external-link-width .text-card-body{
    font-size: 16px!important;
    line-height: 19px!important;
    white-space: pre-wrap!important;
}